.slot-card-container {
  justify-content: center;
  padding: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  min-width: 300px;

  color: var(--primary-color);
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
}
